/* styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap");

:root {
  --primary-color: #37474f;
  --primary-text-color: #fff;
}
html,
body {
  background-image: url('/img/background-img.jpg');
  background-size: contain;
  color: var(--primary-text-color);
  font-family: "Poppins", sans-serif;
}

/* invisible */
#modal-container {
  display: none;
}

/* Unless class visible is active */
#modal-container.is-visible {
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  /* Centers the modal */
  display: grid;
  text-align: center;
}

/* Modal Styling */
.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  color: #37474f;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
  cursor:auto;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#pokemon-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.selected-button {
  min-width: 150px;
  max-width: 250px;
  margin: 1em;
  padding: 1em 2em;
  color: inherit;
  background-color: transparent;
  border-radius: 8px;
  transition-duration: 0.4s;
  box-shadow: 8px 10px 10px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

li {
  list-style: none;
}

@media screen and (max-width: 600px) {
  .content h1 {
    font-size: 60px;
  }
  .main-button {
    font-size: 15px;
  }
}
